<ul id='listings'>
  <% @listings.each do |listing| %>
  <li>
    <%= listing.title.capitalize %>
    <%= listing.location %>
    <%= listing.price %>
    <img src="<%=listing.imageurl%>" width="300px" />
    <%= listing.details %>
  </li>
  <%end%>
</ul>
