<ul id='listings'>
    <% @listings.each do |listing| %>
    <%= listing.title.capitalize %>
    <%= listing.location %>
    <%= listing.price %>
    <img src="<%=listing.imageurl%>" width="300px" />
    <%= listing.details %>
    <%end%>
  </ul>

  <form action='/listings/filter' method='POST'>
      Filter by location:
      <input type='text' name='filter_by_location' />
      Filter by min. price:
      <input type='number' name='min_price' value=0/>
      Filter by max. price:
      <input type='number' name='max_price' value=1000/>
      <input type='submit' value='Submit' />
  </form>
